body
  color: #fff
  font-size: 15px
  background: #43cea2
  background: -webkit-linear-gradient(to left, #43cea2 , #185a9d)
  background: linear-gradient(to left, #43cea2 , #185a9d)

#home
  header
    background: transparent
    padding: 1% 0
    width: 100%
    min-height: 50px
    position: relative
    z-index: 3
    #logo
      display: block
      position: relative
      margin: 0 0 0 10%
      a
        text-decoration: none
        color: $blackMain
        h1
          font-weight: 200
          font-size: 1.3em
          margin: 0
    #mainMenu
      float: right
      width: 400px
      ul
        @extend %clearfix
        li
          margin: 0 2%
          float: left
          @include transition(all, .2s, ease-in-out)
          position: relative
          a
            display: block
            @include sans(400, 14px, #fff)
            @include transition(all, .2s, ease-in-out)
            text-decoration: none
            padding: 1%
          &:hover
            a  
              color: $orangeMain
  .introducer
    height: 100%
    min-height: 300px
    padding-top: 2%
    position: relative
    .content
      z-index: 3
      position: relative
      width: 100%
      display: block
      margin-bottom: 3%
      margin: 5% auto 2% auto
    p
      @include sans($light, 1.2em, #fff)
      text-align: justify-content
      width: 70%
      b
        @include sans(600, 1.1em, #fff)
    .darkness
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 2
      background: rgba(0,0,0,.8)
      @include transition(all, .2s, ease-in-out)
    h1
      @include sans(200, 2.3em, $blackMain)
    h2
      @include sans(100, 2.3em, $blackMain)
      margin-bottom: 2%
      span
        color: #fff
        text-shadow: 2px 1px 3px rgba(0,0,0,.1)
        font-weight: 600
        
section
  h2
    text-align: center
    margin-bottom: 1%
    text-transform: uppercase
    font-weight: 400
    font-size: 1.6em
    margin-bottom: 2%
    
.project
  padding: 6% 7%
  overflow: hidden
  min-height: 264px
  position: relative
  z-index: 1
  @include transition(all, .2s, ease-in-out)
  &:nth-child(1)
    background: #f0f0f0
  &:nth-child(2)
    background: #ebebeb
  &:nth-child(3)
    background: #e5e6e5
  &:hover
    background: #fff
    z-index: 2
    box-shadow: 2px 4px 10px rgba(0,0,0, .1)
    .content
      h3
        a
          color: $orangeMain
  .content
  ul
    display: block
    margin-left: 3%
    li
      list-style: initial
      color: #333
  h3
    a
      @include sans($semibold, 1.5em, #333)
      @include transition(all, .2s, ease-in-out)
      background: transparent
      margin-bottom: 3%
      display: block
      @include transition(all, .2s, ease-in-out)
      text-decoration: none
      &:hover
        
  p
    margin-bottom: 2%
    @include sans(200, .8em, $blackMain)
  a.link
    padding: .4em .8em
    @include sans(200, 1em, $orangeMain)
    border-radius: 2px
    border: 1px solid $orangeMain
    margin: 2% 2% 0 0
    text-decoration: none
    float: left
    @extend %clearfix
    @include transition(all, .2s, ease-in-out)
    &:hover
      box-shadow: inset 0 15rem 0 $orangeMain
      color: #fff
  .image
    
.miniSection
  padding: 2% 0
  display: block
  position: relative
  h3
    text-align: center
    @include sans(200, 1.7em, $blackMain)
      
#social
  @extend %clearfix
  bottom: 4%
  li
    display: inline-block
    float: none
    margin: 5px
    &:first-child
      display: block
      a
        text-align: center
        padding: 0 1%
        text-decoration: none
        margin-bottom: 2%
        @include sans(200, 1.4em, #fff)
        @include transition(all, .2s, ease-in-out)
        &:hover
          box-shadow: inset 40rem 0 0 #fff, 2px 4px 10px rgba(0,0,0, .1)
    &:hover
      a
        text-decoration: none
        color: $secondColor
    a
      font-size: 2em
      i.fa  
        color: #fff
        @include transition(all, .2s, ease-in-out)
    &:hover
      a
        i.fa
          color: $secondColor    
      
footer
  margin: 4% 0 2% 0
  clear: both
  .copyright
    padding: 0!important
    @include sans(200, .8em, rgba(255,255,255, .6))
          