/*

    Project Name: Podeanu Alexandr Website
    Date: June 2016

    ====================
    
        #Colors
    
    ==================== */


$orangeMain: #f05424
$blueMain: #3bc3df
$blackMain: #222222